<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <img src="https://image.shutterstock.com/image-vector/events-colorful-typography-banner-260nw-1356206768.jpg" alt="EVENTS">
  <title>Team JAMES/FEMI/LIZ Events Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to JAMES-FEMI-LIZ Events Application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       location: <input name="location" type="text"/> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>
