<ul >
  {{#events}}
    <li>
        <h2 style="color:midnightblue;">{{ title }}</h2>
        <p>{{ description }}</p>
        <p>{{ location }}</p>
    </li>
<hr style="color:rgb(91, 102, 6);"></hr>
  {{/events}}
</ul>